<!DOCTYPE html>
<html>
<head>
    <title>Add Employee</title>
</head>
<body>

    <h1>Add Employee</h1>

    <form method="POST">

        <label>Name</label><br>
        <input type="text" name="name" required><br><br>

        <label>Email</label><br>
        <input type="email" name="email" required><br><br>

        <label>Department</label><br>
        <input type="text" name="department"><br><br>

        <label>Designation</label><br>
        <input type="text" name="designation"><br><br>

        <button type="submit">
            Save Employee
        </button>

    </form>

</body>
</html>